body{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9QTFRFKioqKysrLCwsLS0tLi4uui0UJgAAAb1JREFUGBkFwQEBwCAIBEA0AU8CARPwJBj2z7Q7GX5VCrhdZvXCMhG+fmnuruyZhmqokDUPB1hzSW47MCGTrQ4Bk1Uua7skOYwNO11MwtaGMCsHCJycyj5wHOn32FshuzPzwVRMOmeeBVyLnM8UUKmeGMhR50tO7L1cqqrT9jJldRIIVVkRcjiXV+GwZrDEl8v5PvJuW36KNRQs2GKxCgtQkhzxcDdWPQJr6WXlEzgcfYdtAM7wmxRowIKPhG9b+WU+Ed1L2T3E2jBeBkWwTTrrtquYzOWkROwF1kc6XCJ6+gkciOGb8LWh8zFbgnwtUOCbngfZvuXeZB0/Zpm8NINDXnTcE8tWdN/whXXk+0juBUPX/TIQDmGRjC0hbHJUAAhfc7C2rySHC6KQqvpmh+nK291hcMhkNs1FV/KS2AaXqe89iAf6xb2+4EfuMFPNDcxOAjtEFpaAr4MKHO95DFE3ePbXn4sBzJmUdY6u4qu7oADnkXJUXb6aqL0U1kOmQN2tv0hGrFg1NykAsGeSvcywL3tGVGGIN3U1BCf7qxGF4/BjEfA4N3KubMBXMZOuOxBzvxR1bMviEAogo8kfp0Fqm+0AiWQAAAAASUVORK5CYII=');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: 'Numans', sans-serif;
}
