<section class="wrapper">
  <div class="container">
    <h2 style="color: #FFC312">{{hourlydata.hourly_forecast[3].temp.english}}°F</h2>
  </div>
    <br>
  <h1 style="color: #FFC312" align="center">+3Hr</h1>
  <br>
  <div class="container">
    <h2 style="color: #FFC312" align="center">{{hourlydata.hourly_forecast[4].temp.english}}°F</h2>
  </div>
  <br>
    <h1 style="color: #FFC312" align="center">+4Hr</h1>
</section>

<section class="wrapper1">
  <div class="container">
    <h2 style="color: #FFC312">{{hourlydata.hourly_forecast[1].temp.english}}°F</h2>
  </div>
  <br>
  <h1 style="color: #FFC312" align="center">+1Hr</h1>
  <br>
  <div class="container">
    <h2 style="color: #FFC312">{{hourlydata.hourly_forecast[2].temp.english}}°F</h2>
  </div>
  <br>
    <h1 style="color: #FFC312" align="center">+2Hr</h1>
</section>
